body {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  margin: auto;
}

.calendar-container {
  width: 695px;
  margin: 20px auto;
  padding: 10px 0;
  overflow: hidden;
}

.time-slots {
  color: grey;
  font-size: 10pt;
  margin: -17px 5px 0 0;
  padding: 0;
  text-align: right;
  width: 65px;
  height: 730px;
  float: left;
  position: relative;
}

.time-slots li {
  height: 30px;
  line-height: 30px;
}

.big-time {
  color: #686868;
  font-weight: bold;
}

.am-pm {
  color: grey;
  margin-left: 5px;
  font-size: 7pt;
  font-weight: normal;
}

.small-time {
  font-size: 7pt;
}

.events-container {
  background: #eae8e8;
  border-left: 1px solid #D6D6D6;
  width: 620px;
  height: 720px;
  padding: 0 10px;
  float: right;
  position: relative;
  box-sizing: border-box;
}
